body {
  background-image: linear-gradient(
    to top,
    #a8896c,
    #8e6f59,
    #735746,
    #594034,
    #402a23
  );
  font-family: "Noto Sans", sans-serif;
}
.container {
  max-width: 600px;
  margin: 60px auto;
  background-color: #ffebbb;
  padding: 30px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin-bottom: 0;
}

.city {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  padding: 20px 0;
  color: #483d3c;
}

.city:last-child {
  border: none;
}

h2 {
  margin: 0 0 10px;
  font-size: 28px;
}

.date {
  opacity: 0.7;
}

.time {
  font-size: 48px;
  font-weight: bold;
}
.time small {
  font-size: 24px;
  line-height: 48px;
  vertical-align: middle;
}

select {
  display: block;
  width: 70%;
  padding: 10px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: bold;
  color: #feffdf;
  background-color: #915b4a;
  margin: 0 auto;
  opacity: 75%;
  border-color: #402a23;
}
h1 {
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  font-size: 40px;
  color: #483d3c;
}

footer {
  text-align: center;
  margin-left: 350px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 15px;
}

a {
  color: #22313f;
}
